# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

##########################################################################################
#                       Tasks for sending telemetry data to the data explorer            #
##########################################################################################
- name:                                 "Create the telemetry JSON object for the test case"
  failed_when:                          false
  delegate_to:                          localhost
  send_telemetry_data:
    telemetry_data_destination:         "{{ telemetry_data_destination | default('none') | lower }}"
    laws_workspace_id:                  "{{ laws_workspace_id if laws_workspace_id is defined and laws_workspace_id else '' }}"
    laws_shared_key:                    "{{ laws_shared_key if laws_shared_key is defined and laws_shared_key else '' }}"
    laws_subscription_id:               "{{ laws_subscription_id if laws_subscription_id is defined and laws_subscription_id else '' }}"
    laws_resource_group:                "{{ laws_resource_group if laws_resource_group is defined and laws_resource_group else '' }}"
    laws_workspace_name:                "{{ laws_workspace_name if laws_workspace_name is defined and laws_workspace_name else '' }}"
    user_assigned_identity_client_id:   "{{ user_assigned_identity_client_id if user_assigned_identity_client_id is defined and user_assigned_identity_client_id else '' }}"
    adx_database_name:                  "{{ adx_database_name if adx_database_name is defined and adx_database_name else '' }}"
    adx_cluster_fqdn:                   "{{ adx_cluster_fqdn if adx_cluster_fqdn is defined and adx_cluster_fqdn else '' }}"
    adx_client_id:                      "{{ adx_client_id if adx_client_id is defined and adx_client_id else '' }}"
    telemetry_table_name:               "{{ telemetry_table_name if telemetry_table_name is defined and telemetry_table_name else '' }}"
    workspace_directory:                "{{ _workspace_directory }}"
    test_group_json_data:               "{{ test_group_json_data if (test_group_json_data is defined and test_group_json_data is iterable and test_group_json_data is not string) else {
                                          'TestCaseInvocationId': (test_case_invocation_id | default('')),
                                          'TestCaseStartTime': (test_case_start_time_epoch | default('')),
                                          'TestCaseEndTime': now(utc=true, fmt='%Y-%m-%d %H:%M:%S'),
                                          'TestCaseStatus': (test_case_status | default('FAILED')),
                                          'TestCaseName': (test_case_name | default('')),
                                          'TestCaseDescription': (test_case_description | default('')),
                                          'TestGroupInvocationId': (group_invocation_id | default('')),
                                          'TestGroupStartTime': (group_start_time | default('')),
                                          'TestGroupName': (group_name | default('')),
                                          'OsVersion': (target_os_family | default(ansible_distribution | default('') ~ ' ' ~ ansible_distribution_version | default(''))),
                                          'TestCaseMessage': (test_case_message | default('')),
                                          'TestCaseDetails': (test_case_details | default('')),
                                          'DurationSeconds': (
                                            (
                                              (
                                                (test_execution_end_time | default(now(utc=true, fmt='%Y-%m-%d %H:%M:%S')))
                                                | to_datetime('%Y-%m-%d %H:%M:%S')
                                              ).timestamp()
                                              -
                                              (
                                                (test_execution_start_time | default(test_case_start_time_epoch | default(now(utc=true, fmt='%Y-%m-%d %H:%M:%S'))))
                                                | to_datetime('%Y-%m-%d %H:%M:%S')
                                              ).timestamp()
                                            ) | int
                                          ),
                                          'DbFencingType': (database_cluster_type if (database_high_availability | default(false)) else 'DB not HA'),
                                          'ScsFencingType': (scs_cluster_type if (scs_high_availability | default(false)) else 'SCS not HA'),
                                          'StorageType': (NFS_provider | default('unknown')),
                                          'DBType': (platform | default('')),
                                          'DbSid': (db_sid | default('') | upper),
                                          'SapSid': (sap_sid | default('') | upper),
                                          'PackageVersions': (package_versions | default('')),
                                          'Tags': (execution_tags | default('')),
                                          'TestExecutionStartTime': (test_execution_start_time | default('')),
                                          'TestExecutionEndTime': (test_execution_end_time | default('')),
                                          'TestCaseHostname': (test_case_hostname | default('')),
                                          'TestCaseLogMessagesFromSap': (test_case_var_log_messages | default(''))
                                        } }}"
