# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*---------------------------------------------------------------------------8
# |     Build telemetry entry for a single check (with or without params)     |
# +------------------------------------4--------------------------------------*/


- name:                             "Add check entry to telemetry batch"
  no_log:                           true
  ansible.builtin.set_fact:
    _telemetry_batch_all:           "{{ _telemetry_batch_all + [{
                                      'TestCaseInvocationId': (check_result.id | default(check_result.check.id | default(''))),
                                      'TestCaseStartTime': (check_result.timestamp | default(now())),
                                      'TestCaseEndTime': (check_result.timestamp | default(now())),
                                      'TestCaseStatus': (check_result.status | default('')),
                                      'TestCaseName': (check_result.name | default(check_result.check.name | default(''))),
                                      'TestCaseDescription': (check_result.check.description | default('')),
                                      'TestGroupInvocationId': lookup('vars', 'test_group_invocation_id', default=''),
                                      'TestGroupStartTime': lookup('vars', 'group_start_time', default=''),
                                      'TestGroupName': lookup('vars', 'group_name', default='ConfigurationChecks'),
                                      'OsVersion': (hostvars[check_result.hostname].system_context.os_type | default('')) + ' ' + (hostvars[check_result.hostname].system_context.os_version | default('')),
                                      'TestCaseMessage': ('Actual=' + ((check_result.actual_value | default('')) | string) + ' Expected=' + ((check_result.expected_value | default('')) | string)),
                                      'TestCaseDetails': (check_result.details | to_json),
                                      'DurationSeconds': (check_result.execution_time | default('')),
                                      'StorageType': (NFS_provider | default('unknown')),
                                      'PackageVersions': lookup('vars', 'package_versions', default=''),
                                      'Tags': lookup('vars', 'execution_tags', default=''),
                                      'TestExecutionStartTime': (check_result.timestamp | default(now())),
                                      'TestExecutionEndTime': (check_result.timestamp | default(now())),
                                      'TestCaseHostname': (check_result.hostname | default('')),
                                      'TestCaseLogMessagesFromSap': (check_result.details | default('') | to_json)
                                    }] }}"
