# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*---------------------------------------------------------------------------8
# |                           Post                               |
# +------------------------------------4--------------------------------------*/

- name:                             "Send telemetry for configuration check {{ check_result.id | default(check_result.check.id | default('')) }}"
  delegate_to:                      localhost
  failed_when:                      false
  block:
    - name:                         "When parameters present - build telemetry batch list"
      when:                         "(check_result.details is defined and check_result.details.parameters is defined and (check_result.details.parameters | length) > 0)"
      set_fact:
        _telemetry_batch:           "[]"

    - name:                         "Append parameter entries to telemetry batch"
      when:                         "(check_result.details is defined and check_result.details.parameters is defined and (check_result.details.parameters | length) > 0)"
      loop:                         "{{ check_result.details.parameters }}"
      loop_control:
        loop_var:                   param
      set_fact:
        _telemetry_batch:           "{{ _telemetry_batch + [ {
                                      'TestCaseInvocationId': (param.id | default(param.name | default(''))),
                                      'TestCaseStartTime': (check_result.timestamp | default(now())),
                                      'TestCaseEndTime': (check_result.timestamp | default(now())),
                                      'TestCaseStatus': (param.status | default(check_result.status | default(''))),
                                      'TestCaseName': (param.name | default(param.id | default(''))),
                                      'TestCaseDescription': ('Parameter ' + (param.name | default(param.id | default(''))) + ' in category ' + (param.category | default('')) ),
                                      'TestGroupInvocationId': (test_group_invocation_id | default('')),
                                      'TestGroupStartTime': (group_start_time | default('')),
                                      'TestGroupName': (group_name | default('ConfigurationChecks')),
                                      'OsVersion': (system_context.os_type | default(system_context.os_version | default(''))),
                                      'TestCaseMessage': ('Actual=' + (param.value | default('')) + ' Expected=' + (param.expected_value | default(''))),
                                      'TestCaseDetails': (param | to_json),
                                      'DurationSeconds': 0,
                                      'StorageType': (system_context.storage_type | default('unknown')),
                                      'PackageVersions': (package_versions | default('')),
                                      'Tags': (execution_tags | default('')),
                                      'TestExecutionStartTime': (check_result.timestamp | default(now())),
                                      'TestExecutionEndTime': (check_result.timestamp | default(now())),
                                      'TestCaseHostname': (check_result.hostname | default(system_context.hostname | default(''))),
                                      'TestCaseLogMessagesFromSap': (check_result.details | default(''))
                                    } ] }}"

    - name:                         "If batch exists, send batch in single call"
      when:                         "_telemetry_batch is defined and (_telemetry_batch | length) > 0"
      include_role:
        name:                       misc
        tasks_from:                 post-telemetry-data.yml
      vars:
        test_group_json_data:       "{{ _telemetry_batch }}"
        telemetry_data_destination: "{{ telemetry_data_destination | default('none') | lower }}"
        laws_workspace_id:          "{{ laws_workspace_id | default('') }}"
        laws_shared_key:            "{{ laws_shared_key | default('') }}"
        adx_database_name:          "{{ adx_database_name | default('') }}"
        adx_cluster_fqdn:           "{{ adx_cluster_fqdn | default('') }}"
        adx_client_id:              "{{ adx_client_id | default('') }}"
        telemetry_table_name:       "{{ telemetry_table_name | default('ConfigurationChecks') }}"
        _workspace_directory:       "{{ _workspace_directory }}"

    - name:                         "No parameters: send check-level telemetry"
      when:                         "not (check_result.details is defined and check_result.details.parameters is defined and (check_result.details.parameters | length) > 0)"
      include_role:
        name:                       misc
        tasks_from:                 post-telemetry-data.yml
      vars:
        test_case_invocation_id:    "{{ check_result.id | default(check_result.check.id | default('')) }}"
        test_case_start_time_epoch: "{{ (check_result.timestamp | default(now())) }}"
        test_case_start_time:       "{{ (check_result.timestamp | default(now())) }}"
        test_case_status:           "{{ check_result.status | default('') }}"
        test_case_name:             "{{ check_result.name | default(check_result.check.name | default('')) }}"
        test_case_description:      "{{ check_result.details | default(check_result.check.description | default('')) }}"
        group_invocation_id:        "{{ test_group_invocation_id | default('') }}"
        group_start_time:           "{{ group_start_time | default('') }}"
        group_name:                 "{{ group_name | default('ConfigurationChecks') }}"
        target_os_family:           "{{ system_context.os_type | default(system_context.os_version | default('')) }}"
        test_case_message:          "{{ check_result.details | default('') }}"
        test_case_details:          "{{ check_result.details | default('') }}"
        test_execution_start_time:  "{{ check_result.timestamp | default(now()) }}"
        test_execution_end_time:    "{{ check_result.timestamp | default(now()) }}"
        package_versions:           "{{ package_versions | default('') }}"
        execution_tags:             "{{ execution_tags | default('') }}"
        test_execution_start_time_epoch: "{{ check_result.timestamp | default(now()) }}"
        test_execution_end_time_epoch: "{{ check_result.timestamp | default(now()) }}"
        test_case_hostname:         "{{ check_result.hostname | default(system_context.hostname | default('')) }}"
        test_case_var_log_messages: "{{ check_result.details | default('') }}"
        telemetry_data_destination: "{{ telemetry_data_destination | default('none') | lower }}"
        laws_workspace_id:          "{{ laws_workspace_id | default('') }}"
        laws_shared_key:            "{{ laws_shared_key | default('') }}"
        adx_database_name:          "{{ adx_database_name | default('') }}"
        adx_cluster_fqdn:           "{{ adx_cluster_fqdn | default('') }}"
        adx_client_id:              "{{ adx_client_id | default('') }}"
        telemetry_table_name:       "{{ telemetry_table_name | default('ConfigurationChecks') }}"
        _workspace_directory:       "{{ _workspace_directory }}"
