# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                           HA Testing Framework                            |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
- hosts:                               localhost
  gather_facts:                        false
  name:                                "Setup deployer for HA Testing Framework"
  vars_files:                          "./vars/input-api.yaml"
  vars:
    ansible_python_interpreter:         "{{ playbook_dir }}/../.venv/bin/python"
  tasks:
    - name:                             "Install python3-venv system package"
      become:                           true
      ansible.builtin.package:
        name:                           python3-venv
        state:                          present

    - name:                             "Create virtual environment"
      ansible.builtin.pip:
        name:                           pip
        virtualenv:                     "{{ playbook_dir }}/../.venv"
        virtualenv_command:             python3 -m venv

    - name:                            "Install python azure packages required"
      become:                           false
      ansible.builtin.pip:
        virtualenv:                     "{{ playbook_dir }}/../.venv"
        requirements:                   "{{ playbook_dir }}/../requirements.in"
          - azure-mgmt-network
          - azure-storage-blob
          - azure-storage-queue
          - pandas

    - name:                            "Set the test group name based on the inputs"
      ansible.builtin.set_fact:
        test_group_name:               "{{ sap_functional_test_type_map
                                        | selectattr('name', 'equalto', SAP_FUNCTIONAL_TEST_TYPE)
                                        | map(attribute='value') | first }}{{ '_' + (platform | upper)
                                        if SAP_FUNCTIONAL_TEST_TYPE == 'DatabaseHighAvailability' else '' }}"
      run_once:                        true

    - name:                            Set the test group facts
      ansible.builtin.set_fact:
        test_group_start_time:         "{{ now(utc=true,fmt='%Y-%m-%d %H:%M:%S') }}"
        test_group_invocation_id:      "{{ lookup('pipe', 'uuidgen') }}"
        test_cases:                    "{{ test_groups
                                            | selectattr('name', 'equalto', test_group_name)
                                            | map(attribute='test_cases') | list | flatten(levels=1)
                                            | selectattr('task_name', 'contains', 'offline') | list }}"
      run_once:                        true

    - name:                            "Run test cases by including them as roles"
      ansible.builtin.include_tasks:   "./roles/{{ test_group_name | lower }}/tasks/{{ item.task_name }}.yml"
      loop:                            "{{ test_cases | list }}"
      vars:
        group_invocation_id:           "{{ test_group_invocation_id }}"
        group_start_time:              "{{ test_group_start_time }}"
        group_name:                    "{{ SAP_FUNCTIONAL_TEST_TYPE }}"
      when:                             test_group_name is defined

    - name:                            "Render HTML report for the test group logs"
      ansible.builtin.include_tasks:   "./roles/misc/tasks/render-html-report.yml"
      when:                            test_group_name is defined

    - name:                            "Debug the group_invocation_id"
      ansible.builtin.debug:
        msg:                           "Group invocation ID: {{ test_group_invocation_id }}"
      when:                            test_group_invocation_id is defined
